.center {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: white;
}
body {
    background-image: url(images/BG.jpg);
    background-color: #000000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 100vh;
    margin: 0;
}
.context {
    text-align: center;
    font-size: large;
}
.side {
    text-align: bold;
    position: absolute;
    left: 36%;
    top: 530px;
    font-style: italic;
    font-size: 43px;
    color: white;
}
.side-context {
    position: absolute;
    left: 38%;
    font-size: large;
    color: white;
}
.side-head {
    position: absolute;
    left: 38%;
    font-style: italic;
    text-align: bold;
    color: white;
}

p {
  color: white;
}
